<header>
    <app-sidenav></app-sidenav>
        <div class="talent-profile-text">
        <img src="../assets/hi.drawio.png" alt="Entreprise logo" width="40%" height="50%">
        </div>
        <input type="text"  placeholder="Search" [(ngModel)]="searchValue" (input)="onInputChange()">
        <p-chip label={{name}} image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2 custom-chip"></p-chip>        <!--div>
            <i class="fas fa-user account-icon"></i>
            <label>USER</label>
        </div-->


    <!--div class="talent-profile-text">
        <img src="assets/cap.png" alt="Entreprise logo" width="35px" height="35px"> TALENT PROFILE
    </div>
    <input type="text" placeholder="Search">
    <i class="fas fa-user account-icon"></i-->
    <!-- Add a dropdown menu with account options -->
    <!--ul class="dropdown-menu">
        <li><a href="#">Account Settings</a></li>
        <li><a href="#">Sign Out</a></li>
    </ul-->
</header>
